.cart-popup {
    position: absolute;
    right: -15px;
    top: 80px;
    width: 369px;
    background-color: #ffffff;
    border: 1px solid;
    
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    height: 454px;
    display: flex;
    flex-direction: column;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s;
  }
  
  .cart-popup.open {
    opacity: 1;
    /* visibility: visible; */
    pointer-events: auto;
    transform: translateY(0);
  }
  
  .cart-popup.close {
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
  }
  
  .cart-popup-header {
    padding: 0px 16px;
    height: 69px;
    background-color: #575757;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .cart-popup-header h2 {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.26px;
    text-align: left;
    color: #ffffff !important;
  }
  
  /* Содержимое корзины */
  .cart-popup-body {
    flex-grow: 1;
    overflow-y: auto;
    padding: 16px;
  }
  
  .empty-cart {
    text-align: center;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    color: #555;
  }
  
  .cart-items-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .cart-item {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #C9C9C9;
  }
  .cart-item:hover {
    background-color: #f9f9f9;
    transition: background-color 0.3s;
  }
  .cart-item-image {
    width: 99px !important;
    height: 130px !important;
    object-fit: cover;
  }
  
  .cart-item-details {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .cart-item-price {
    margin: 0;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #000;
    text-align: left;
  }
  
  .cart-item-name {
    font-size: 14px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 8px;
    text-align: left;
  }
  
  .cart-item-details-row {
    display: flex;
    gap: 16px;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: #666;
    text-align: left;
  }
  
  .cart-item-quantity {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: #666;
  }
  
  .trash-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    align-self: flex-end;
  }
  
  .cart-popup-footer {
    padding: 0px 16px;
    border-top: 1px solid #e0e0e0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
  }
  
  .total-section {
    font-family: Montserrat;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 61px;
  }
  
  
  .total-price {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #000;
  }


  .cart-page-header {
    color: #000;
    text-align: center;
  }

 