.sub-menu {
    background-color: #090909;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    height: 55px;
    position: relative;
    box-sizing: border-box;
}

.menu-items {
    list-style: none;
    display: flex;
    gap: 50px;
    padding: 0;
    margin: 0;
}

.menu-item {
    position: relative;
}

.menu-item a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.menu-item:hover .dropdown,
.dropdown:hover {
    opacity: 1;
    visibility: visible;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    min-width: 150px;
    z-index: 100;
    border-radius: 0 0 10px 10px;
    margin-top: 18px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.dropdown a {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    color: #333;
}

.dropdown a:hover {
    background-color: #f0f0f0;
}
