.menu {
    display: flex;
    justify-content: left;
    background-color: #090909;
    /* padding: 10px 0; */
    padding: 17.75px;
  }
  
  .menu-item {
    position: relative;
    left: 30px;

  }
  
  .menu-title {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    
    padding: 10px 25px;
    cursor: pointer;
  }
  
  .menu-title:hover,
  .menu-item:hover .menu-title {
    font-weight: bold;
  }

  .menu-item:hover .submenu {
    display: block; /* Убедитесь, что подменю отображается при наведении на родительский элемент */
  }
  
  .submenu-item:hover .sub-submenu {
    display: block; /* Убедитесь, что подкатегории отображаются при наведении на подразделы */
  }
  
  .dropdown-menu {
    font-family: 'Montserrat', sans-serif;
    display: inline-grid;
    grid-template-columns: repeat(4, minmax(130px, 1fr)); /* Количество колонок */
    flex-wrap: nowrap;
    position: absolute;
    top: 190%;
   
    left: 0;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    z-index: 100;
    border-radius: 0 0 10px 10px;
    transition: all 0.3s ease;
    
  }
  
  .dropdown-column {
    padding: 0px;
    
    
  }
  
  .category-title {
    font-size: 16px;
    font-weight: bold;
    color: #090909;
    margin-bottom: 16px;
  }
  
  .dropdown-menu ul {
    list-style-type: none;
    padding: 0;

    margin: 0;
  }
  
  .dropdown-menu li {
    font-size: 14px;
    padding: 5px 0;
    color: #A8A8A8;
    cursor: pointer;
  }
  
  .dropdown-menu li:hover {
   color: #090909;
    
  }