@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    position: relative;
    height: 80px;
}

.navbar-left {
    display: flex;
   
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

.navbar-categories {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar-categories li a {
    color: #A8A8A8;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar-categories li a:hover,
.navbar-categories li a.active {
    color: #000;
}

.navbar-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5em;
}

.navbar-right {
    height: 100%;
    display: flex;
   padding-right: 66px;
    align-items: center;
}

.navbar-icons {
    list-style: none;
    display: flex;
    gap: 20px;
    height: 100%; /* Контейнер иконок занимает всю высоту навигации */
}



.navbar-icons li img {
    width: 20px;
    height: 100%;
}

.cart-container {
    position: relative; /* Для позиционирования popup корзины */
    display: flex;
    align-items: center;
}

.cart-container:hover .cart-popup {
    visibility: visible;
    opacity: 1;
}


/* Стили для корзины */
.cart-container {
  position: relative;
  display: inline-block;
  height: 100%;
}

.cart-icon {
  width: 48px; /* Размер иконки корзины */
  height: 48px;
}

/* Счетчик количества товаров */
.cart-count {
  position: absolute;
  top: 27px; /* Смещение вверх */
  right: -8px; 
  background-color: #E53935; /* Красный цвет */
  color: #ffffff; /* Белый текст */
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: bold;
  border-radius: 50%; /* Круг */
  width: 14px;
  height: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


