.search-container {
  display: flex;
  align-items: center; /* Вертикальное выравнивание внутри контейнера */
  justify-content: center; /* Опционально: для центрирования по горизонтали */
  position: relative; 
  height: 100%; /* Контейнер занимает всю высоту родителя */
}

.search-icon {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center; /* Центрирование иконки по вертикали */
  justify-content: center; /* Центрирование иконки по горизонтали */
  z-index: 2; /* Иконка всегда над строкой поиска */
  height: 100%; /* Убедиться, что иконка растянута по высоте контейнера */
}

.search-input {
  position: absolute;
  right: 0;
  padding-right: 30px;
  outline: none;
  width: 0; /* Начальная ширина */
  height: 30px; /* Высота строки поиска */
  border: none;
  border-radius: 15px;
  transition: width 0.3s ease;
  background-color: transparent;
  z-index: 1;
}

.search-input.active {
  padding-left: 20px;
  width: 300px;
  border: 1px solid #000;
}

.suggestions-list {
  position: absolute;
  top: 40px; /* Расположение ниже строки поиска */
  left: auto;
  right: 0;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 375px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}